.wrapper {
    max-width:720px;
    max-height:660px;
}

.ArtistPic {
    max-height: 100%;
    max-width:100%;
    width: auto;
}

.angular-google-map-container {
    height: 300px;
    width: 350px;
    border: 1px solid black;
}
