<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-center">Sign Up!</h1>
      <form ng-submit="vm.register()">
        <label>Username:</label><br>
        <input class="col-xs-12" ng-model="vm.user.username" type="text" placeholder="Username"/><br>
        <label>Email:</label><br>
        <input class="col-xs-12" ng-model="vm.user.email" type="email" placeholder="Email"/><br>
        <label>Password:</label><br>
        <input class="col-xs-12" ng-model="vm.user.password" type="text" placeholder="Password"/><br>
        <label>Confirm Password:</label><br>
        <input class="col-xs-12" ng-model="vm.user.cpassword" type="text" placeholder="Confirm Password"/><br><br>
        <button ng-click class="col-md-4 col-md-offset-4" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
